/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root {
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --main-title-color: #ffc2e6;
  --main-text-color: #353430;
  --h3-text-color: #353430;
  --h2-text-color: #353430;
  --buton-text-color: #353430;
  --shadow-text-color: #ff8dcb;
  --bg-text-color: #ff8dcb;
  --color-hover: rgba(50, 49, 45, 0.4);

  --bg-image: url("../images/cover-image-light.png");
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --main-title-color: #ffc2e6;
  --main-text-color: #353430;
  --h3-text-color: #353430;
  --h2-text-color: #353430;
  --buton-text-color: #353430;
  --shadow-text-color: #ff8dcb;
  --bg-text-color: #ff8dcb;
  --color-hover: rgba(50, 49, 45, 0.4);
  --rec-color: #353430;

  --bg-image: url("../images/cover-image-light.png");

  --font-family: "IBM Plex mono", Courier, monospace;
  --font-size: 18px;
  --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.rec {
  display: none;
}
